h1{color: aquamarine;
text-align: center;
background-color: brown;}
p{border: 3px;
border-style:solid;
border-color: beige;}
th,td ,table{
    border:3px solid red;

}
.class2{ background-color: beige;
border: 3px solid red;
margin :60px 20 px;
padding :30px;}